*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  color: white;
  font-family: Livvic, sans-serif;
}

a {
  all: unset;
  cursor: pointer;
}

.container {
  margin: auto;
  padding-inline: 20px;
  /* Small */
  /* Medium */
  /* Large */
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.orange {
  color: #f67e7e;
}

header {
  background-color: #014e56;
  padding-block: 25px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo img {
  width: clamp(128px, 20vw, 160px);
}
header .container .menu {
  display: none;
  width: 20px;
  height: 17px;
  cursor: pointer;
  position: relative;
}
header .container .menu div {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 3px;
}
header .container .menu div:nth-child(1) {
  top: 0px;
}
header .container .menu div:nth-child(2) {
  top: 7px;
}
header .container .menu div:nth-child(3) {
  top: 14px;
}
header .container nav {
  z-index: 999;
  display: flex;
  align-items: center;
  gap: 20px;
}
header .container nav .close {
  display: none;
  width: 20px;
  height: 17px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50px;
}
header .container nav .close div {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 3px;
}
header .container nav .close div {
  top: 7px;
}
header .container nav .close div:first-child {
  rotate: 45deg;
}
header .container nav .close div:last-child {
  rotate: -45deg;
}
header .container nav a {
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s;
}
header .container nav a:hover {
  color: #f67e7e;
}
header .container nav a:last-child {
  font-size: 17px;
  margin-left: 15px;
  border-radius: 24px;
  padding: 11px 30px;
  border: 2px solid white;
  transition-property: background-color, color;
  transition-duration: 0.3s;
}
header .container nav a:last-child:hover {
  background-color: white;
  color: #014e56;
}
@media (width <= 600px) {
  header .container .menu, header .container .close {
    display: block !important;
  }
  header .container nav {
    gap: 30px;
    padding-left: 50px;
    position: fixed;
    align-items: flex-start;
    top: 0;
    right: -250px;
    height: 100vh;
    width: 250px;
    flex-direction: column;
    background-color: #2c6269;
    transition: right 0.3s;
  }
  header .container nav a:first-of-type {
    margin-top: 150px;
  }
  header .container nav a:last-of-type {
    margin-left: 0;
    margin-top: 50px;
  }
  header .container nav.clicked {
    right: 0;
  }
  header .container nav::before {
    content: "";
    position: absolute;
    background: url("/images/patterns/pattern1.svg");
    width: 200px;
    height: 200px;
    translate: 50%;
    bottom: 0;
    right: 0;
  }
}

main {
  isolation: isolate;
  background-color: #014e56;
  padding-bottom: 120px;
  height: 600px;
  display: flex;
  align-items: center;
  position: relative;
}
main .container {
  display: grid;
  grid-template-columns: 5.75fr 4.25fr;
  align-items: center;
  gap: 60px;
}
main .container h1 {
  line-height: 1;
  margin: 0;
  font-size: clamp(45px, 7vw, 100px);
}
main .container p {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
}
main .container p::before {
  content: "";
  position: absolute;
  background-color: #79c8c7;
  width: 50px;
  height: 3px;
  left: 0;
  top: -35px;
}
main::after {
  content: "";
  position: absolute;
  background: url("/images/patterns/pattern2.svg");
  width: 358px;
  height: 100px;
  translate: 0;
  bottom: 0;
  right: 8vw;
}
main::before {
  z-index: -1;
  content: "";
  position: absolute;
  background: url("/images/patterns/pattern3.svg");
  width: 200px;
  height: 200px;
  translate: -50% calc(-50% - 47.775px);
  top: 50%;
  left: 0;
}
@media (width <= 800px) {
  main {
    height: clamp(430px, 70vh, 520px);
  }
  main::after {
    right: 50%;
    translate: 50%;
  }
  main::before {
    content: none;
  }
  main .container {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }
  main p {
    margin: auto;
    max-width: 500px;
    font-size: 16px !important;
  }
  main p::before {
    content: none !important;
  }
}

.advantages {
  isolation: isolate;
  overflow-x: hidden;
  position: relative;
  background-color: #012f34;
  padding-block: 115px 80px;
}
.advantages .container {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  gap: 80px;
}
.advantages .container h1 {
  font-size: clamp(28px, 5vw, 47px);
  position: relative;
}
.advantages .container h1::before {
  content: "";
  position: absolute;
  background-color: #f67e7e;
  width: 50px;
  height: 3px;
  left: 0;
  top: -35px;
}
.advantages .container .content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.advantages .container .content .box {
  display: flex;
  gap: 25px;
}
.advantages .container .content .box h3 {
  font-size: 17px;
}
.advantages .container .content .box p {
  opacity: 0.8;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 18px;
}
.advantages::before {
  z-index: -1;
  content: "";
  position: absolute;
  background: url("/images/patterns/pattern4.svg");
  width: 200px;
  height: 244px;
  translate: 50%;
  bottom: 0;
  right: 0;
}
@media (width <= 798px) {
  .advantages::before {
    top: 0;
  }
  .advantages .container {
    max-width: 600px;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .advantages .container h1 {
    max-width: calc(100vw - 148px);
  }
}
@media (width <= 480px) {
  .advantages .box {
    flex-direction: column;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */