@use '../helpers/mixins' as *;
@use '../helpers/variables' as *;

.about {
    background-color: $green;
    padding-block: 110px;
    overflow: hidden;

    .container {
        display: grid;
        grid-template-columns: 3.5fr 6.5fr;
        align-items: baseline;
        gap: 40px;

        h1 {
            margin: 0;
            font-size: clamp(40px, 8vw, 65px);
        }

        p {
            position: relative;
            line-height: 1.6;
            font-size: 18px;
            font-weight: 600;

            &::before {
                @include line($orange, ("left": 0, "top": -35px));
            }
        }

        @media (width <=770px) {
            & {
                grid-template-columns: 1fr;
                text-align: center;
                gap: 10px;

                p {
                    margin: auto;
                    font-size: 16px;
                    max-width: 500px;

                    &::before {
                        content: none;
                    }
                }
            }
        }

        &::before {
            @include floating-image("../images/patterns/pattern11.svg", ("bottom": 0, "right": 0), 50%, 200px, 200px);

            @media (width <= 600px) {
                & {
                    translate: 50% 50%;
                }
            }
        }
    }
}