@use '../helpers/mixins' as *;
@use '../helpers/variables' as *;

.banner {
    isolation: isolate;
    background-color: $orange;
    color: $darker-green;
    padding-block: 50px;
    position: relative;

    .container {
        max-width: 950px;
        display: flex;
        flex-wrap: wrap;
        gap: 0 20px;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: clamp(25px, 6vw, 47px);
        }

        a {
            @include contact-btn($darker-green, white);
        }
    }

    &::before {
        z-index: -1;
        @include floating-image("../images/patterns/pattern5.svg", ("bottom": 0, "left": 0), 0, 200px, 144px);
    }

    @media (width <= 656px) {
        .container {
            justify-content: center;
        }
    }
}