@use '../helpers/mixins' as *;
@use '../helpers/variables' as *;

section.contact {
    background-color: $green;
    padding-block: 50px 130px;
    overflow-x: hidden;

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 60px;

        .content {
            h1 {
                margin: 0;
                font-size: clamp(40px, 10vw, 63px);
            }

            h2 {
                margin-block: 30px 25px;
                font-size: clamp(10px, 10vw, 32px);
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;

                li {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    font-weight: 600;
                    font-size: 18px;
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 25px;

            input:not([type="submit"]), textarea {
                all: unset;
                font-weight: 600;
                border-bottom: 1px solid white;
                padding: 0 0 16px 14px;
                transition: border-bottom-color $duration;

                &:focus {
                    border-bottom-color: $blue;
                }

                &:focus:invalid {
                    border-bottom-color: #f67e7e;
                }

                &::placeholder {
                    color: white;
                    opacity: 0.7;
                    font-weight: 600;
                }
            }

            input[type="submit"] {
                all: unset;
                background-color: white;
                color: $dark-green;
                cursor: pointer;
                font-weight: 600;
                font-size: 19px;
                width: 123px;
                text-align: center;
                padding-block: 10px;
                border-radius: 25px;
                transition-duration: $duration;
                transition-property: color, background-color;

                &:hover {
                    color: white;
                    background-color: $orange;
                }
            }
        }
    }

    &::before {
        @include floating-image("../images/patterns/pattern8.svg", ("bottom": 0, "right": 0), 50%, 201px, 225px);
    }

    &::after {
        @include floating-image("../images/patterns/pattern9.svg", ("top": 50%, "left": 0), -50% calc(-50% - $header-height / 2), 200px, 200px);

        @media (width <= 750px) {
            & {
                content: none;
            }
        }
    }

    @media (width <= 800px) {
        .container {
            max-width: 600px;
            grid-template-columns: 1fr;

            h1, h2 {
                text-align: center;
            }
        }
    }
}